*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

*.ipr
*.iws
out/
##########
# Gradle #
##########

build/
gradlew.bat


##################
# Android Studio #
##################

local.properties
app/libs/
